Archived Files/FHIM:SI Framework Integration Contract/MDHT_FHIM Generated Model Schemas/extension.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Apr 21 12:51:16 EDT 2011
== Model: NIEMFHIMLAB
== Package: extension
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Lab.xsd"/>
  <xsd:include schemaLocation="codes.xsd"/>
  <xsd:include schemaLocation="niem-core.xsd"/>
  <xsd:include schemaLocation="structures.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  LabTestPromiseType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="LabTestPromiseType">
    <xsd:complexContent>
      <xsd:extension base="LabTestPromise">
        <xsd:sequence>
          <xsd:element name="priority" type="DiagnosisType"/>
          <xsd:element name="status" type="State"/>
          <xsd:element name="accessionDate" type="nc:TimeMeasureType"/>
          <xsd:element name="dateExpected" type="nc:TimeMeasureType"/>
          <xsd:element name="labTestRequest" type="s:ComplexObjectType"/>
          <xsd:element name="accessionId" type="nc:IdentificationType"/>
          <xsd:element minOccurs="0" name="dateSpecimenReceived" type="nc:TimeMeasureType"/>
          <xsd:element minOccurs="0" name="dateReportCompleted" type="nc:TimeMeasureType"/>
          <xsd:element name="fillerOrderId" type="nc:IdentificationType"/>
          <xsd:element minOccurs="0" name="labReferral" type="s:ComplexObjectType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>